body {background:#DECD8A}
main {display: block;
height:100%;
position: absolute;
width:90%;}

#carte img{width:100%;
position: relative;
margin:3%;
top:5%;}


#epicerie img {position: absolute;
width:15%;
top:10%;
left:23%;}

#banque img {position: absolute;
width:25%;
top:0%;
left:63%;}


#usine img {position: absolute;
width:20%;
top:55%;
left:2%;}

#maison img {position: absolute;
width:20%;
top:35%;
left:73%;
pointer-events:none;}

h1 {font-family: 'Gabriela', serif;
font-size: 50px;
text-align: center;
color:#2D2A24;
position: absolute;
right:5%;
bottom:10%;
background-color:#DECD8A;
width:190px;
z-index: 100;}

#a {position: absolute;
top:15%;
left:41%;
pointer-events:none;}

#b {position: absolute;
top:43%;
left:92%;
pointer-events:none;}

#c {position: absolute;
top:47%;
left:75%;
pointer-events:none;}

#d {width:10%;
position: absolute;
left:97%;
top:53%;
pointer-events:none;}

#epicier {position: absolute;
top:15%;
left:42%;}

#zohra {position: absolute;
top:43%;
left:93%;}

#pere {position: absolute;
top:47%;
left:75%;}

#poupee {position: absolute;
top:53%;
left:98%;}

a {text-decoration: none;
color:#AF7612;
font-family: 'Josefin Sans', sans-serif;
font-size: 25px;
z-index: 5;
}