/*-------------------------------général-------------------------------------------*/
html, body{
	width: 100%;
	height: 100%;
}

#fond1 {display:block;
	background-image:url(../images/fond.png);
	background-attachment: fixed; 
	background-position:center;  
	background-size:cover;
	position: relative;
	height:100%;
	width:100%;
	overflow: hidden;
}
#fond2{

    background-image:url(../images/fond_2.png);
    background-attachment: fixed; 
    background-position:center;  
    background-size:cover;
    position: relative;
    height:100%;
    width:100%;
    overflow: hidden;
    
}
footer {
z-index: 100;
width: 100%;
height: 35px;
background-color: rgba(153, 0, 0, 0.8);
border-top: 1px solid ‪#990000;
position: absolute;
bottom: 0;
}

footer h1 {
font-size: 18px;
font-family: 'Gabriela', serif;
color: white;
position: absolute;
top: 50%;
margin-top: -10px;
left: 20px;

}

footer img {
position: absolute;
width:60px;
bottom: 20%;
right: 20px;
}

.fonce img {
    -webkit-filter:brightness(100%);
    -webkit-transition: all 0.5s ease-in-out;   
}

.fonce:hover img {-webkit-filter:brightness(70%);
-webkit-transition-timing-function:ease-in-out;
}

/*-------------------------------index et des classes utilisées sur la page 2-------------------------------------------*/

.meuble{ position: absolute;
    top: 48%;
    right: 10%;
    z-index:8;

    -webkit-animation-name: meuble;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

    @-webkit-keyframes meuble {
    0% {-webkit-transform:translateY(250px);}
    50%{-webkit-transform:translateY(100px);}
    100%{-webkit-transform:translateY(0px);}
}

.oranges{
    position: absolute;
    z-index: 7;
    top:42%;
    right: 12.3%;
    -webkit-animation-name: oranges;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

    @-webkit-keyframes oranges{
    0% {-webkit-transform:translateY(-500px);}
    50%{-webkit-transform:translateY(-250px);}
    100%{-webkit-transform:translateY(0px);}
}


#fille1{
    position: absolute;
    z-index: 10;
    top:35%;
    left: 40%;
    -webkit-animation-name: fille;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

    @-webkit-keyframes fille{
    0% {-webkit-transform:translateY(600px);}
    50%{-webkit-transform:translateY(300px);}
    100%{-webkit-transform:translateY(0px);}
}
#poing {
    position: absolute;
    bottom: -40%;
    right: -20%;
    z-index: 20;

    -webkit-animation-name: poing;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:both;
}

@-webkit-keyframes poing{
    0% {-webkit-transform:translateY(600px);}
    50%{-webkit-transform:translateY(300px);}
    100%{-webkit-transform:translateY(100px);}
}

#poing img:hover{
    -webkit-transform:translateY(-170px) translateX(-200px);
}
    



.lit{
    position: absolute;
    top: 41%;
    left: 3%;
    z-index: 4;

    -webkit-animation-name: lit;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

    @-webkit-keyframes lit{
    0% {-webkit-transform:translateX(-500px);}
    50%{-webkit-transform:translateX(-250px);}
    100%{-webkit-transform:translateX(0px);}
}
.ours{
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 5;

    -webkit-animation-name: oranges;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.2s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

   

.poupee{
    position: absolute;
    top: 47.5%;
    left: 25%;
    z-index:6; 

    -webkit-animation-name: oranges;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.3s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    }

   


/*-------------------------------page2---------------------------------------------*/







/*-------------------------------page3---------------------------------------------*/

#epicier1{
    position: absolute;
    top: 26%;
    left: 30%;

}
#poupee2{
    position: absolute;
    right: 36.5%;
    top: 67.5%;
    z-index:5;

}
#fille2{
position: absolute;
top: 60%;
right: 30%;
}


/*-------------------------------page4---------------------------------------------*/
#fille3{
    position: absolute;
    bottom:-6%;
    left: -5%;
}
#magasin{
    position: absolute;
    top: 40%;
    right: 0;
}
#epicier2{
    z-index: 5;
    position: absolute;
    top: 51.2%;
    right: 19%;
}
#poupee3{
    position: absolute;
    bottom:5%;
    right: 30%;
}
/*-------------------------------page5---------------------------------------------*/

#bras{
    position: absolute;
    bottom: -6%;
    left:5%;
    z-index:7
}

#fille4{
    position: absolute;
    bottom:-7%;
    left: 24%;
    z-index: 6;
}

#epicier3{
    position: absolute;
    top: 35%;
    right: 20%;


}

#poupee4{
    position: absolute;
    top: 63%;
    right: 15%;

}
