html{ 
height: 100%; 
-webkit-transform:translate3D(0,0,0);
}

body{ 
height: 100%; 
}
/*ANIMATIONS*/
@-webkit-keyframes maison1 {
    0% {-webkit-transform:translateX(-200%)}
    100% {-webkit-transform:translateX(0%)}
}

@-webkit-keyframes orange1 {
    0% {-webkit-transform:translateX(200px)}
    100% {-webkit-transform:translateX(0px)}
}


@-webkit-keyframes ville1 {
    0% {-webkit-transform:translateX(10%)}
    100% {-webkit-transform:translateX(0%)}
}
@-webkit-keyframes ville2 {
    0% {-webkit-transform:translateX(-10px)}
    100% {-webkit-transform:translateX(0px)}
}

@-webkit-keyframes fille2 {
    0% {-webkit-transform:translateX(-70%)}
    100% {-webkit-transform:translateX(0%)}
}


@-webkit-keyframes pere3 {
    0% {display:none; 
        opacity: 0;
    }

    51% {display: block ; 
        opacity: 0;
    }

    100% {display: block ; 
        opacity: 1;}
}

@-webkit-keyframes zoom {
    0% {-webkit-transform:scale(0.5)}
    100% {-webkit-transform:scale(1)}
}


@-webkit-keyframes batiment4 {
    0% {-webkit-transform:scale(0.5)}
    100% {-webkit-transform:scale(1)}
}

@-webkit-keyframes zoomfille {
    0% {-webkit-transform:scale(0.5) translate(-30%, -30%)}
    100% {-webkit-transform:scale(1) translate (0%)}
}
@-webkit-keyframes zoompoupee {
    0% {-webkit-transform:scale(0.5) translate(-240%, -290%)}
    100% {-webkit-transform:scale(1) translate (0%)}
}

@-webkit-keyframes mains {
    0% {-webkit-transform:scale(0.8) translateX(-100px) translateY(70px)}
    100% {-webkit-transform:scale(1) translateX(-100px) translateY(70px)}
}



@-webkit-keyframes orange5 {
    0% {-webkit-transform:translateX(0px)}
    100% {-webkit-transform:translateX(-330px)}
}

@-webkit-keyframes texte {
    0% {display:none; 
        opacity: 0;
    }

    1% {display: block ; 
        opacity: 0;
    }

    100% {display: block ; 
        opacity: 1;}
}

@-webkit-keyframes gens {
    0% {-webkit-transform:scale(0.5) }
    100% {-webkit-transform:scale(1) }
}


@-webkit-keyframes reflet {
    0% {opacity: 0.5;}

     50% {opacity: 1;}
		

    100% {
        opacity: 0.5;}
		}

@-webkit-keyframes textegauche {
    0% {-webkit-transform:translateX(-390px)}
    100% {-webkit-transform:translateX(0px)}
}

@-webkit-keyframes textegauche2 {
    0% {-webkit-transform:translateX(-420px)}
    100% {-webkit-transform:translateX(0px)}
}

@-webkit-keyframes textegauche3 {
    0% {-webkit-transform:translateX(-420px)}
    55% {-webkit-transform:translateX(380px)}
	65% {-webkit-transform:translateX(360px)}
	75% {-webkit-transform:translateX(380px)}
    100% {-webkit-transform:translateX(350px)}
}

@-webkit-keyframes textedroit {
    0% {-webkit-transform:translateX(865px)}
    100% {-webkit-transform:translateX(0px)}
}
@-webkit-keyframes textegauche5 {
    0% {-webkit-transform:translateX(100%)}
    100% {-webkit-transform:translateX(0%)}
}

@-webkit-keyframes bulle {
    0% {display:none; 
        opacity: 0;
    }

    1% {display: block ; 
        opacity: 0;
    }

    100% {display: block ; 
        opacity: 1;}
}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.4;
	z-index: 100;
	position: absolute;
	color: #db7200;
	font-size: 20px;
}

p.grand {
	font-size: 30px;
	font-weight: 100;
	-webkit-animation:textegauche 1.5s 1.2s ease-out;
	-webkit-animation-fill-mode:both;
	bottom: 0%;
	bottom: 140px;
	margin-left: 20px;
}



body {overflow: hidden;}

#ville1 img {
	position: absolute;
	bottom:0px;
	z-index: 80;
	width: 100%;
	pointer-events:none;
	

}

#fond  {
	position: absolute;
	z-index: 60;
	width: 100%;
	bottom: 100%
}

#coline {
	pointer-events:none;
	position: absolute;
	top:50px;
	z-index: 60;
	width: 100%;
	top:100px;
}

#ville2 img {
	position: absolute;
	bottom:27%;
	right: 0%;
	z-index: 70;
	width: 75%;
	-webkit-animation:ville2 1.5s  ease-out;
}
#caisse {
	width: 100%;
	position: absolute;
	bottom: 0%;
	right: 0%;
	bottom: -5px;
	-webkit-animation:orange1 1.5s  ease-out;}

#orange {
	width: 55%;
	position: absolute;
	bottom: 0%;
	right: 0%;
	z-index: 90;
	bottom: 40px;}

#morceau {
	width: 16%;
	position: absolute;
	bottom:0%; 
	right: 29.5%;
	margin-bottom: 3.1%;
	z-index: 100;
	bottom: -5px;
	-webkit-animation:orange1 1.5s  ease-out;
}
.lien :hover {-webkit-filter: contrast(1) brightness(0.8);
-webkit-transition: all 0.5s ease-in-out; }

.lien2 :hover {-webkit-filter: contrast(1) brightness(0.9) ;
-webkit-transition: all 0.5s ease-in-out; }

.lien3 :hover {-webkit-filter: contrast(1) brightness(0.9) ;
-webkit-transition: all 0.5s ease-in-out; }

#maison {
	position: absolute;
	margin-top:6%;
	z-index: 50;
	width: 7%;
	left: 13%;
	 -webkit-animation:maison1 1.4s  ease-out;}

#petitemaison {
	position: absolute;
	margin-top: 10%;
	z-index: 55;
	width: 7%;
	left: 6.2%;
	-webkit-animation:maison1 1.5s  ease-out;
}

#ch1{
	width: 35%;
	bottom: 0%;
	bottom: 60px;
	margin-left: 20px;
	-webkit-animation:textegauche 1.5s 1.5s ease-out;
	-webkit-animation-fill-mode:both;

}
/**----------2----------**/
#ch2 {
	
	width: 100%;
	bottom: 0%;
	bottom: 60px;
	margin-left: 20px;
	-webkit-animation:textegauche2 1.5s 1.2s ease-out;
	-webkit-animation-fill-mode:both;
}

#middle {
	position: absolute;
	width: 75%;
	z-index: 50;
	right: 0%;
	bottom: 0%;
	height: 80%;
}

#dune {
	position: absolute;
	width: 100%;
	z-index: 30;
	bottom: 0%;
	height: 95%;
	pointer-events:none;
}

#front {
	
	position: absolute;
	width: 100%;
	z-index: 60;
	bottom: 0%;
	height: 70%;
	}


#all2 {
	position: absolute;
	border: 25px solid #f5a238;
	width:73.5%;
	bottom:10%;
	top:5.5%;
	height: 64.5%;
	left:20%;
}

#groupe {
	width: 15%;
	position: absolute;
	bottom:0%;
	left: 10%;
	z-index: 70;
	-webkit-animation:fille2 3s  ease-out;
}

#fille {
	width: 100%;
	position: absolute;
	bottom:0%;
	left: 10%;
	z-index: 70;
}

#poupee {
	width: 50%;
	position: absolute;
	bottom: 0%;
	margin-bottom: 85%;
	left: 55%;
	z-index: 80;
}

#maison2{
	position: absolute;
	z-index: 10;
	top: 5%;
	left: 5%;
	width: 10%;

}

#reflet2 {
	position: absolute;
	z-index: 90;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	bottom: 0%;
	pointer-events:none;
	-webkit-animation:reflet 1s  ease-in;
	-webkit-animation-fill-mode:both;

}

#orange2{
	position: absolute;
	z-index: 70;
	right: 5%;
	bottom: 0%;
	width: 30%;
	-webkit-animation:orange2 1.5s  ease-out;
}

#mur {pointer-events:none;}

#frise {
	position: absolute;
	margin-top: 10%;
	top:50px;
	height: 7%;
	width: 20%;

	z-index: 10;



	}

#main2 {background-color: #fff6e8;
	height: 100%;
	width: 100%;
	z-index: 1;}

/**----------3----------**/

#ch3 {
	bottom: 0%;
	bottom: 110px;
	left: 40%;
	font-size: 40px;
	-webkit-animation:textedroit 1.5s 1.2s ease-out;
	-webkit-animation-fill-mode:both;
}

#ch3fille {
	position: absolute;
	bottom:93%;
	left:8%;
	-webkit-animation:bulle 1s 3.6s ease-out;
	-webkit-animation-fill-mode:both;
}

#ch3suite {
	width: 43%;
	bottom: 0%;
	bottom: 60px;
	left: 40%;
	font-size: 20px;
	-webkit-animation:textedroit 1s 5s ease-out;
	-webkit-animation-fill-mode:both;

}
#bulle {
	position: absolute;
	bottom: 88%;
	left:6.9%;
	z-index: 100;
	-webkit-animation:bulle 1s 3.6s ease-out;
	-webkit-animation-fill-mode:both;
}

#batimentg{
	position: absolute;
	z-index: 10;
	top: 0%;
	left: 0%;
	height: 67%;
	bottom: 85px;
	-webkit-animation:zoom 1.5s  ease-out;
	-webkit-transform-origin:left top;
	
}

#batimentd{
	position: absolute;
	z-index: 10;
	top: 0%;
	right: 0%;
	width: 27%;
	-webkit-animation:batiment4 1.5s  ease-out;

	-webkit-transform-origin:right top;
}


#p1{
	position: absolute;
	z-index: 20;
	top: 0%;
	left: 39%;
	width: 15%;
	-webkit-animation:gens 1.5s  ease-out;

	-webkit-transform-origin:left top;
}

#p2{
	position: absolute;
	z-index: 19;
	top: 0%;
	left: 51%;
	width: 15%;
	pointer-events:none;
	-webkit-animation:gens 1.5s  ease-out;

	-webkit-transform-origin:left top;
}

#p3{
	position: absolute;
	z-index: 19;
	top: 0%;
	left: 65%;
	width: 10%;
	pointer-events:none;
	-webkit-animation:gens 1.5s  ease-out;

	-webkit-transform-origin:left top;
}



#p4{
	position: absolute;
	z-index: 20;
	top: 0%;
	left: 68%;
	width: 20%;
	-webkit-animation:gens 1.5s  ease-out;

	-webkit-transform-origin:left top;
}


#p5{
	position: absolute;
	z-index: 20;
	top: 0%;
	left: 84%;
	width: 15%;
	-webkit-animation:gens 1.5s  ease-out;

	-webkit-transform-origin:left top;
}


#fille3{
	position: absolute;
	z-index: 40;
	bottom: 0%;
	left: 5%;
	width: 33%;
	bottom: 85px;
	-webkit-animation:zoomfille 1.5s  ease-out;
	-webkit-transform-origin:left top;
}

#poupee3{
	position: absolute;
	z-index: 50;
	bottom: 26%;
	left: 18%;
	width: 9%;
	-webkit-animation:zoompoupee 1.5s  ease-out;

	-webkit-transform-origin:left top;
	
	
}


#pere{
	position: absolute;
	z-index: 10;
	top: 1%;
	left: 60%;
	width: 9%;
	-webkit-animation:pere3 3.5s 2s ease-out;
	-webkit-animation-fill-mode:both;
}


/**----------4----------**/
#ch4 {
	
	width: 40%;
	bottom: 0%;
	bottom: 100px;
	right: 0%;
	left: 20px;
	-webkit-animation:textegauche3 1.7s 0.5s ease-out;
	-webkit-animation-fill-mode:both;

}

#ch41 {
	
	opacity: 0;
	bottom: 50%;
	bottom: 60px;
	left: 36%;
}
#corbeille{ 
	width: 27%;
	position: absolute;
	bottom: 0%;
	right: 0%;
	bottom: -5px;

}

#corbeille:hover {-webkit-filter: brightness(1.2);
z-index: 150;
}
#bac {
	position: absolute;
	z-index: 120;
	right: 0%;
	bottom: 0%;
	width: 90%;
	bottom: 40px;

}

#pain {
	position: absolute;
	z-index: 110;
	right: 0%;
	bottom: 0%;
	margin-bottom: 73%;
	width: 100%;
	bottom: 40px;

}


#pere4 {
	position: absolute;
	right: -9%;
	bottom:0%;
	z-index: 90;
	height: 90%
}

#groupe4 {
	width: 15%;
	position: absolute;
	bottom:0%;
	left: 10%;
	z-index: 70;
}

label[for=pain_anim] {cursor: pointer;}
input#pain_anim {display: none;}

input#pain_anim:checked ~ #all2 a img#pere4   {

	-webkit-animation:orange5 1.5s  linear;
	-webkit-animation-fill-mode:both;
}

input#pain_anim:checked ~  #ch41   {

	-webkit-animation:texte 3.5s  linear;
	-webkit-animation-fill-mode:both;
}
#reflet {
	position: absolute;
	z-index: 90;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	bottom: 0%;
	pointer-events:none;
	

}



/**----------5----------**/
#ch5 {
	width: 35%;
	bottom: 0%;
	bottom: 110px;
	right: 0%;
	-webkit-animation:textegauche5 1.5s 1.5s ease-out;
	-webkit-animation-fill-mode:both;
}

p.grand2 {
	width: 35%;
	bottom: 0%;
	bottom: 140px;
	right: 0%;
	font-size: 30px;
	font-weight: 100;
	-webkit-animation:textegauche5 1.5s 1.2s ease-out;
	-webkit-animation-fill-mode:both;
	
	
}

#murg{
	position: absolute;
	z-index: 10;
	bottom: 85%;
	left: 0%;
	width: 35%;
}

#bras {	width: 100%;
	position: absolute;
	bottom: 0%;
	right: 0%;
	-webkit-animation:mains 1.5s  ease-out;
	-webkit-transform-origin:30% 70%;
	-webkit-animation-fill-mode:both;
	z-index: 90;
	
}

#murd{
	position: absolute;
	z-index: 10;
	bottom: 85%;
	right: 0%;
	width: 30%;
}

#main{
	position: absolute;
	z-index: 20;
	bottom: 70px;
	left: 0%;
	width: 90%;

}

#poupee5{
	position: absolute;
	z-index: 100;
	bottom: 0%;
	left: 28.2%;
	width: 24.6%;
	margin-bottom: 7.62%;
	bottom: 70px;
}

#frappe {	
	width: 30%;
	position: absolute;
	top: 30%;
	right: 0%;
}

#pere5{
	position: absolute;
	z-index: 50;
	bottom: 10%;
	left: 0%;
	width: 90%;
}

#fille5{
	position: absolute;
	z-index: 40;
	bottom: 10%;
	right: 65%;
	width:60%;
	margin-right: 11%;

	
}

/**----------footer----------**/



footer {
z-index: 100;
width: 100%;
height: 35px;
background-color: rgba(245, 162, 56, 0.5);
border-top: 1px solid ‪#‎A3BECC‬;
position: absolute;
bottom: 0;
}

footer h1 {
font-size: 18px;
font-family: 'Gabriela', serif;
color: white;
position: absolute;
top: 50%;
margin-top: -10px;
left: 20px;

}

footer img {
position: absolute;
width:60px;
bottom: 20%;
right: 20px;
}