
html, body{
	width: 100%;
	height: 100%;
}
main {display:block;
background-image:url(../images/fond.png);
background-attachment: fixed; 
background-position:center;  
background-size:cover;
position: relative;
height:95%;
width:100%;}

footer {background-color: black;
height:100px;
width:100%;}

#epicerie {
	width:40%;
	height:40%;
	position: absolute;
	right:0px;
	top:45%;
}

#epicerie img {float:right;
width:65%;}

#epicier {
	width:50%;
	height:50%;
	position: absolute;
	right:230px;
	top:100px;

}

#epicier img {float:right;
width:20%;}
