/* ---------------------------------------général*/
html, body{
	width: 100%;
	height: 100%;
}
main {display:block;
background-image:url(../images/fond.png);
background-attachment: fixed; 
background-position:center;  
background-size:cover;
position: relative;
height:100%;
width:100%;
overflow: hidden;}


#index {display:block;
background-image:url(../images/fond1.png);
background-attachment: fixed; 
background-position:center;  
background-size:cover;
position: relative;
height:100%;
width:100%;
overflow: hidden;}

.texte {font-family: 'Poiret One', cursive;
text-transform: uppercase;
color:#36444D;
font-size: 15pt;
width:300px;
line-height:1.4;
position: absolute;
right:-3%;
margin-right:5%;
margin-top:5%;
-webkit-animation-name: texte;
-webkit-animation-duration: 0.5s;
-webkit-animation-delay:4s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes texte {
0% {-webkit-transform:translateX(350px);}
50%{-webkit-transform:translateX(100px);}
100%{-webkit-transform:translateX(0px);}
}


.fonce img {
	-webkit-filter:contrast(1);
	-webkit-transition: all 0.5s ease-in-out;	
}

.fonce:hover img {-webkit-filter:contrast(1.6);
-webkit-transition-timing-function:ease-in-out;
}

.couleur img {
	-webkit-filter:brightness(1);
	-webkit-transition: all 0.5s ease-in-out;	
}

.couleur:hover img {-webkit-filter:brightness(1.6);
-webkit-transition-timing-function:ease-in-out;
}
footer {
	z-index: 100;
    width: 100%;
    height: 40px;
    background-color: rgba(163, 190, 204, 0.8);
    border-top: 1px solid #A3BECC;
    position: absolute;
    bottom: 0;
}

footer h1 {
    font-size: 25px;
    font-family: 'Gabriela', serif;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;

}

footer img {
    position: absolute;
    width:60px;
    bottom: 10px;
    right: 20px;
}
/*---------------------------------------index*/

#transparent {
width: 450px;
height:190px;
z-index:100;
position: absolute;
left:50px; }
#transparent2 {
width: 200px;
height:190px;
z-index:100;
position: absolute;
left:120px;
top:150px;}
#lit {
	position: absolute;
	right:0px;
	top:45%;
}

#lit img {float:right;
-webkit-animation-name: epicerie;
-webkit-animation-duration: 0.4s;
-webkit-animation-delay:.1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes epicerie {
0% {-webkit-transform:translateX(250px);}
50%{-webkit-transform:translateX(100px);}
100%{-webkit-transform:translateX(0px);}
}

#padre {z-index: 25;
position: absolute;
left:-8%;
-webkit-animation-name: padre;
-webkit-animation-duration: 0.6s;
-webkit-animation-delay:.5s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes padre{
0% {-webkit-transform:translateY(650px);}
50%{-webkit-transform:translateY(300px);}
100%{-webkit-transform:translateY(0px);}
}

#orange {position: absolute;
top:35%;
left:30%;
z-index: 15;
-webkit-animation-name: orange;
-webkit-animation-duration: 0.6s;
-webkit-animation-delay:.1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes orange {
0% {-webkit-transform:translateX(-450px);}
50%{-webkit-transform:translateX(-200px);}
100%{-webkit-transform:translateX(0px);}
}

#lienorange {position: absolute;
top:30%;
left:32%;
z-index: 75;
-webkit-animation-name: orange;
-webkit-animation-duration: 0.6s;
-webkit-animation-delay:.1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes orange {
0% {-webkit-transform:translateX(-450px);}
50%{-webkit-transform:translateX(-200px);}
100%{-webkit-transform:translateX(0px);}
}

#poupon {position: absolute;
left:95%;
top:50%;
-webkit-animation-name: poupon;
-webkit-animation-duration: 0.4s;
-webkit-animation-delay:.1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes poupon {
0% {-webkit-transform:translateX(250px);}
50%{-webkit-transform:translateX(100px);}
100%{-webkit-transform:translateX(0px);}
}

#doigt {z-index: 85;
pointer-events:none;
position: absolute;
left:-15%;
top:25%;
-webkit-animation-name: doigt;
-webkit-animation-duration: 0.6s;
-webkit-animation-delay:3s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes doigt{
0% {-webkit-transform:translateX(-750px);}
50%{-webkit-transform:translateX(-300px);}
100%{-webkit-transform:translateX(0px);}
}
/*---------------------------------------page2*/

#epicerie {
	width:40%;
	height:40%;
	position: absolute;
	right:0px;
	top:45%;
}

#epicerie img {float:right;
width:65%;
-webkit-animation-name: epicerie;
-webkit-animation-duration: 0.4s;
-webkit-animation-delay:.1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes epicerie {
0% {-webkit-transform:translateX(250px);}
50%{-webkit-transform:translateX(100px);}
100%{-webkit-transform:translateX(0px);}
}

#poupee {
	width:50%;
	height:50%;
	position: absolute;
	top:55%;
	left:5%;
transition: all .3s ease-out;
-webkit-animation-name:poupee;
-webkit-animation-duration: 0.5s;
-webkit-animation-delay:0.2s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes poupee {
0% {-webkit-transform:translateY(1000px);}
50%{-webkit-transform:translateY(100px);}
100%{-webkit-transform:translateY(80px);}
}

#poupee:hover {-webkit-transform:translateY(-20%);}
#poupee img {
width:85%;
}

#cicatrice {
	width:10%;
	height:10%;
	position: absolute;
	top:75%;
	margin-left:30%;
	z-index: 10;
	-webkit-transform:translateY(17%);
	transition: all .3s ease-out;

}

#epicier {position: absolute;
left:30%;
z-index: 30;
-webkit-animation-name: epicier;
-webkit-animation-duration: 1s;
-webkit-animation-delay:0.5s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes epicier {
0% {-webkit-transform:translateY(800px);}
100%{-webkit-transform:translateY(0px);}
}

/*---------------------------------------page3*/

#poupee1 {position:absolute;
	bottom:0;
left:10%;
z-index: 35;
-webkit-animation-name:poupee;
-webkit-animation-duration: 0.5s;
-webkit-animation-delay:0.9s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes poupee {
0% {-webkit-transform:translateY(200px);}
100%{-webkit-transform:translateY(0px);}
}

#papa {position: absolute;
top:58%;
width:20%;
left:75%;
-webkit-animation-name:pere;
-webkit-animation-duration: 2s;
-webkit-animation-delay:1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes pere {
0% {-webkit-transform:translateX(300px);}
100%{-webkit-transform:translateX(0px);}
}

#perso1 {position: absolute;
top:60%;
left:3%;
width:30%;
-webkit-animation-name:perso;
-webkit-animation-duration: 0.8s;
-webkit-animation-delay:0.8s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes perso {
0% {-webkit-transform:translateX(-200px);}
100%{-webkit-transform:translateX(0px);}
}

#perso2 {position: absolute;
top:65%;
left:120%;
-webkit-animation-name: translate;
-webkit-animation-duration: 40s;
-webkit-animation-delay:.1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes translate {
0% {-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(-850px);}
100%{-webkit-transform:translateX(-1700px);}
}

#perso3 {position: absolute;
top:60%;
left:70%;
-webkit-animation-name: translaate;
-webkit-animation-duration: 30s;
-webkit-animation-delay:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes translaate {
0% {-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(850px);}
100%{-webkit-transform:translateX(1700px);}
}

#perso4 {position: absolute;
top:60%;
left:120%;
-webkit-animation-name: translaaate;
-webkit-animation-duration: 30s;
-webkit-animation-delay:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes translaaate {
0% {-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(-850px);}
100%{-webkit-transform:translateX(-1700px);}
}



#perso5 {position: absolute;
top:60%;
left:150%;
-webkit-animation-name: translate;
-webkit-animation-duration: 60s;
-webkit-animation-delay:2.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes translate {
0% {-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(-850px);}
100%{-webkit-transform:translateX(-1700px);}
}

/*---------------------------------------page4*/
#pere {position: absolute;
bottom:0;
z-index:10;
-webkit-animation-name: papa;
-webkit-animation-duration:3s;
-webkit-animation-delay:2s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
-webkit-animation-fill-mode:both;
}

@-webkit-keyframes papa {
0% {-webkit-transform:translateX(0px);}
5% {-webkit-transform:translateX(-150px);}
35% {-webkit-transform:translateX(-280px);}
50%{-webkit-transform:translateX(-170px);}
75%{-webkit-transform:translateX(-250px);}
90%{-webkit-transform:translateX(-150px);}
100%{-webkit-transform:translateX(-550px);}

}
#yasmine {position: absolute;
bottom:5%;
left:25%;
-webkit-animation-name:yasmine ;
-webkit-animation-duration: 0.5s;
-webkit-animation-delay:2s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
-webkit-animation-fill-mode:both;
-webkit-animation-origin:left top;
}

@-webkit-keyframes yasmine {
0%{-webkit-transform:translateY(0);}
60%{-webkit-transform:translateY(100px);}
100%{-webkit-transform:translateY(200px);}
}

/*---------------------------------------page5*/

#pouuupee {position: absolute;
top:90%;
left:85%;
}

#anim {
	position: absolute;
top:50%;
left:40%;
-webkit-animation-name:tombe;
-webkit-animation-duration: 5s;
-webkit-animation-delay:1s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:both,both;
}

@-webkit-keyframes tombe {
0% {-webkit-transform:translateY(-800px);}
25%{-webkit-transform:translateY(0px);}
75% {-webkit-transform:scale(1);}
80% {-webkit-transform:scale(0.70);}
100%{-webkit-transform:scale(0.25);}
}

#ombre {position: absolute;
top:65%;left:50%;
-webkit-animation-name: ombre;
-webkit-animation-duration: 0.8s;
-webkit-animation-delay:0.5s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:both;
}

@-webkit-keyframes ombre{
0% {-webkit-transform:translateX(-800px);}
100%{-webkit-transform:translateX(0px);}
}


#bras {position: absolute;
right:-5%;
top:45%;
-webkit-animation-name: bras;
-webkit-animation-duration: 2s;
-webkit-animation-delay:1.5s;
-webkit-animation-timing-function:linear;
-webkit-animation-fill-mode:backwards;
-webkit-animation-fill-mode:both;
}

@-webkit-keyframes bras{
0% {-webkit-transform:translateY(800px);}
100%{-webkit-transform:translateY(0px);}
}
