#fleche {position: absolute;
top:2%;
left:2%;}

main {height:1050px;}
#photo {position: absolute;
top:65%;
left:15%;
width:50%;
-webkit-filter: grayscale(1);}

h1 {color:#5F2828;
font-family: 'Gabriela', serif;
font-size: 40px;
position: absolute;
left:80%;
top:3%;}

p {font-family: helvetica, sans-serif;
color:white;
width:135px;
line-height: 1.4;}

a {text-decoration: none;
color:#5F2828;
font-weight: 600;
}
a:hover {text-decoration: underline;}
#brieuc {position: absolute;
bottom:4%;
left:15%;}

#vincent {position: absolute;
bottom:4%;
left:34%;}

#sophie {position: absolute;
bottom:4%;
left:54%;}

#maurine {position: absolute;
bottom:4%;
left:74%;}

#texte {width: 500px;
position: absolute;
top:720px;
left:15%;
color:#F1C0A4;
line-height: 1.7;}

#histoire {color:#5F2828;
width:800px;
text-align: center;
position: absolute;
top:930px;
left:8.4%;}

footer {
	z-index: 100;
    width: 100%;
    height: 35px;
    background-color:#5F2828;
    position: absolute;
    top:1020px;
}

footer h1 {
    font-size: 18px;
    font-family: 'Gabriela', serif;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;

}

footer img {
    position: absolute;
    width:60px;
    bottom: 20%;
    right: 20px;
}