body {
        background-color: #EBD1F2;
        overflow:hidden;

}

main {
    overflow: hidden;
    height: 100%;
}

.fonce:hover img {
    -webkit-filter:contrast(1.6);
    -webkit-transition-timing-function:ease-in-out;
}

.couleur:hover img {
    -webkit-filter:brightness(1.6);
    -webkit-transition-timing-function:ease-in-out;
}

/*----------------------------------------- CHAPITRE 1---------------------------------------- */

#text_1 {
    position:absolute;
    top: 400px;
    z-index: 40;
    font-family: 'Gabriela', serif;
    width: 250px;
    font-size: 18px;
    line-height: 30px;
    top: 5%;
    left: 10%;
    opacity: 0;
    -webkit-transition: 0.7s;
}

#s1_fond_mur {
    display: block;
    background-color: #EDDFF2;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 10;
}


@-webkit-keyframes armoire {
0% {-webkit-transform:translateY(700px);}
50%{-webkit-transform:translateY(350px);}
100%{-webkit-transform:translatey(0px);}
}

#armoire {
    z-index: 30;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -15%;
    width: 50%;
        
}

#armoire img {
    width: 50%;
    height: 50%;    
    -webkit-animation-name: armoire;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

@-webkit-keyframes zora {
0% {
        -webkit-transform:translateX(-900px);

    }
    
50%{
        -webkit-transform:translateX(-350px);

    }
    
100%{
        -webkit-transform:translateX(0px);

    }
}

#zora1 {
    z-index: 20;
    position: absolute;
    bottom: 30px;
    left: 40%;
    margin-left: -15%;
    width: 50%;
    -webkit-animation-name: zora;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#zora1 img {
    width: 18%;
    height: 18%;

}

@-webkit-keyframes pere {
0% {-webkit-transform:translateX(1000px);}
50%{-webkit-transform:translateX(350px);}
100%{-webkit-transform:translateX(0px);}
}

#pere1 {
    z-index: 40;
    position: absolute;
    bottom: 30px;
    left: 68%;
    margin-left: -15%;
    width: 40%;
    -webkit-animation-name: pere;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#pere1 img {
    width: 60%;
    height: 60%;

}

#oranges1 {
    z-index: 999;
    position: absolute;
    top: -15%;
    left: 16%;
    width: 60%;
}

#oranges1 img {
    width: 30%;
    height: 30%;

}

#picto_1 img {
    position: absolute;
    z-index: 50;
    top: 10%;
    width: 200px;
    left: 10%;
    -webkit-transition: 0.7s;
}

#picto_1:hover img {
    opacity: 0;
}

#picto_1:hover #text_1 {
    opacity: 1;
}

/*---------------------------------------- CHAPITRE 2------------------------------------- */

#s2_fond_mur {
    display: block;
    background-color: #9568A0;
    width: 100%;
    height: 42%;
    position: absolute;
    top: 0;
    z-index: 10;
}


#text_2 {
    position:absolute;
    bottom: 100px;
    z-index: 40;
    font-family: 'Gabriela', serif;
    width: 237px;
    font-size: 18px;
    line-height: 30px;
    right: 25%;
    opacity: 0;
    -webkit-transition: 0.7s;
}

#picto_2 img {
    position: absolute;
    z-index: 50;
    bottom: 150px;
    width: 200px;
    right: 28%;
    -webkit-transition: 0.7s;
}

#picto_2:hover img {
    opacity: 0;
}

#picto_2:hover #text_2 {
    opacity: 1;
}
    
#magasin_2 {    
    z-index: 20;
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;

}

#magasin_2 img {
    position: relative;
    width: 80%;
    height: 80%;
    margin-left: 22%;

        
}

@-webkit-keyframes epicier2 {
0% {
    opacity: 0;
    }
100%{
    opacity: 1;
    }
}

#epicier_2 {    
    z-index: 30;
    position: absolute;
    width: 17.3%;
    top: 0;
    right: 14.8%;
    -webkit-animation-name: epicier2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay:.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#epicier_2 img {
    
    width: 80%;
    height: 80%;        
}

@-webkit-keyframes zora2 {
0% {-webkit-transform:translateX(-1000px);}
50%{-webkit-transform:translateX(-350px);}
100%{-webkit-transform:translateX(0px);}
}

#zora_2 {    
    z-index: 30;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    margin-left: 2%;
    -webkit-animation-name: zora2;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#zora_2 img {    
    height: 100%;
}

#cicatrice_2 {
    z-index: 20;
    position: absolute;
    top: 45%;
    left: 16%;
    width: 20%;
}

#cicatrice_2 img {
    width: 30%;
    height: 30%;
}

@-webkit-keyframes chat2 {
0% {-webkit-transform:translateX(1000px);}
50%{-webkit-transform:translateX(350px);}
100%{-webkit-transform:translateX(0px);}
}

#chat_2 {    
    z-index: 30;
    position: absolute;
    width: 17.3%;
    top: 55%;
    right: 3%;    
    -webkit-animation-name: chat2;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#chat_2 img {    
    width: 80%;
    height: 80%;        
}

/*-------------------------------------------- CHAPITRE 3--------------------------------------- */


#text_3 {
    position:absolute;
    top: 50px;
    z-index: 40;
    font-family: 'Gabriela', serif;
    width: 237px;
    font-size: 18px;
    line-height: 30px;
    right: 12%;
    opacity: 0;
    -webkit-transition: 0.7s;
}

@-webkit-keyframes epicier3 {
0% {
    opacity: 0;
    }
100%{
    opacity: 1;
    }
}

#epicier_3 {    
    z-index: 30;
    position: absolute;
    width: 45%;
    bottom: 50px;
    right: 30%;
    -webkit-animation-name: epicier3;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay:.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
}

#epicier_3 img {
    
    width: 80%;
    height: 80%;        
}

#gens_3 {    
    z-index: 30;
    position: absolute;
    width: 34%;
    top: 18%;
    left: 2%;
    pointer-events: none;
}

#gens_3 img {
    
    width: 80%;
    height: 80%;
    pointer-events: none;
}

@-webkit-keyframes pere3 {
0% {-webkit-transform:translateX(-200px);}
100%{-webkit-transform:translateX(0px);}
}

#pere_3 {    
    z-index: 30;
    position: absolute;
    width: 10%;
    top: 18%;
    left: 5%;
    -webkit-animation-name: pere3;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay:1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;
}

#pere_3 img {
    
    width: 80%;
    height: 80%;        
}

#zora_3 {    
    z-index: 50;
    position: absolute;
    width: 100%;
    height : 25%;
    bottom: 35px;
    left: 20%;
}

#zora_3 img {
    position: absolute;    
    width: 100%;
    height: 100%;
    bottom: 0;
}

@-webkit-keyframes chat3 {
0% {-webkit-transform:translateX(500px);}
100%{-webkit-transform:translateX(-300px);}
}

#chat_3 {    
    z-index: 10;
    position: absolute;
    width: 17.3%;
    top: 70%;
    left: -15%;
    -webkit-animation-name: chat3;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: 1;
}

#chat_3 img {    
    width: 80%;
    height: 80%;        
}

#picto_3 img {
    position: absolute;
    z-index: 50;
    top: 80px;
    width: 200px;
    right: 15%;
    -webkit-transition: 0.7s;
}

#picto_3:hover img {
    opacity: 0;
}

#picto_3:hover #text_3 {
    opacity: 1;
}
/*----------------------------------------- CHAPITRE 4 --------------------------------------*/


#text_4 {
    position:absolute;
    top: 50px;
    z-index: 40;
    font-family: 'Gabriela', serif;
    width: 237px;
    font-size: 18px;
    line-height: 30px;
    right: 12%;
    opacity: 0;
    -webkit-transition: 0.7s;
}

#picto_4 img{
    position: absolute;
    z-index: 50;
    top: 80px;
    width: 200px;
    right: 15%;
    -webkit-transition: 0.7s;
}

#picto_4:hover img {
    opacity: 0;
}

#picto_4:hover #text_4{
    opacity: 1;
}


#magasin_4 {    
    z-index: 20;
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;

}

#magasin_4 img {
    position: relative;
    width: 80%;
    height: 80%;
    left: 0;
        
}

#epicier_4 {    
    z-index: 20;
    position: absolute;
    width: 20%;
    top: 20%;
    left: 0;

}

#epicier_4 img {
    width: 80%;
    height: 80%;
        
}

@-webkit-keyframes pere4 {
0% {-webkit-transform:translateX(200px);}
100%{-webkit-transform:translateX(0px);}
}

#pere_4 {    
    z-index: 40;
    position: absolute;
    width: 85%;
    top: 16%;
    left: -20%;
    -webkit-animation-name: pere4;
    -webkit-animation-duration: 1.5s;
    /*-webkit-animation-delay:1.5s;*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;

}

#pere_4 img {
    width: 80%;
    height: 80%;
        
}

@-webkit-keyframes zora4 {
0% {-webkit-transform:translateX(200px);}
100%{-webkit-transform:translateX(0px);}
}

#zora_4 {    
    z-index: 30;
    position: absolute;
    width: 85%;
    bottom: 30px;
    left: -20%;
    -webkit-animation-name: zora4;
    -webkit-animation-duration: 1.5s;
   /* -webkit-animation-delay:1.5;*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;


}

#zora_4 img {
    width: 80%;
    height: 80%;
        
}

#sol_4 {    
    z-index: 30;
    position: absolute;
    width: 10%;
    top: 35%;
    left: 70%;

}

@-webkit-keyframes sol4 {
0% {-webkit-transform:translateX(400px);}
100%{-webkit-transform:translateX(0px);}
}


#sol_4 img {
    width: 100%;
    height: 100%;
    -webkit-animation-name: sol4;
    -webkit-animation-duration: 1.5s;
    /*-webkit-animation-delay:1.5s;*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;

        
}

#epicier_click_4 {
    z-index: 999;
    display: block;
    width: 15%;
    height: 10%;
    position: absolute;
    margin-top: 14%;
    left: 0;
}

@-webkit-keyframes poussiere1_4 {
0% {
        opacity:0;
    }
50%{
        opacity:0.5;
    }
100%{
        opacity:0;
    }
}

#poussiere1_4 {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    opacity: 0;
    -webkit-animation-name: poussiere1_4;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;
}


#poussiere1_4 img{
    width: 100%;
}

#poussiere2_4 {    
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 20%;
    opacity:0;
    -webkit-animation-name: poussiere1_4;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:1.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:backwards;
    -webkit-animation-iteration-count: 1;
}

#poussiere2_4 img{
    width: 100%;
}

/*-------------------------------------------- CHAPITRE 5 ----------------------------------------*/



#text_5{
    position:absolute;
    top: 30px;
    z-index: 40;
    font-family: 'Gabriela', serif;
    width: 237px;
    font-size: 18px;
    line-height: 30px;
    right: 12%;
    opacity: 0;
    -webkit-transition: 0.7s;
}

#picto_5 img{
    position: absolute;
    z-index: 50;
    top: 50px;
    width: 200px;
    right: 15%;
    -webkit-transition: 0.7s;
}

#picto_5:hover img{
    opacity: 0;
}

#picto_5:hover #text_5 {
    opacity: 1;
}

#epicier_5 {    
    z-index: 30;
    position: absolute;
    width: 67%;
    bottom: 32px;
    right: 20%;
}

#epicier_5 img {
    
    width: 100%;
    height: 100%;        
}

@-webkit-keyframes pere5 {
0% {
    -webkit-transform-origin:left bottom;
    -webkit-transform:scale(1);
    }
100%{
    -webkit-transform-origin:left bottom;
    -webkit-transform:scale(0.5);
    }
}


#pere_5 {    
    z-index: 30;
    position: absolute;
    width: 30%;
    top: 13%;
    left: 0; 
    -webkit-animation-name: pere5;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: 1;
}

#pere_5 img {
    
    width: 25%;
    height: 25%;        
}


@-webkit-keyframes zora5 {
0% {
    -webkit-transform-origin:left bottom;
    -webkit-transform:scale(1) translateX(0px);
    }
100%{
    -webkit-transform-origin:left bottom;
    -webkit-transform:scale(0.5)translateX(-60px);
    }
}


#zora_5 {    
    z-index: 30;
    position: absolute;
    width: 20%;
    top: 23%;
    left: 6.5%;
     -webkit-animation-name: zora5;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: 1;
   
}

#zora_5 img {
    
    width: 25%;
    height: 25%;        
}



/*footer {
    width: 100%;
    height: 70px;
    background: #733E7C;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

footer h1 {
    font-size: 36px;
    font-family: 'Gabriela', serif;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 20px;

}

footer img {
    position: absolute;
    bottom: 15px;
    right: 20px;
}*/

footer {
z-index: 100;
width: 100%;
height: 35px;
border-top: 1px solid ‪#‎A3BECC‬;
background-color: rgba(115, 62, 124, 0.8);
position: absolute;
bottom: 0;
}

footer h1 {
font-size: 18px;
font-family: 'Gabriela', serif;
color: white;
position: absolute;
top: 50%;
margin-top: -10px;
left: 20px;

}

footer img {
position: absolute;
width: 60px;
bottom: 20%;
right: 20px;
}


    
    
    
    

