@font-face {
    font-family: 'fairviewregular';
    src: url('fonts/fairview_regular-webfont.eot');
    src: url('fonts/fairview_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fairview_regular-webfont.woff') format('woff'),
         url('fonts/fairview_regular-webfont.ttf') format('truetype'),
         url('fonts/fairview_regular-webfont.svg#fairviewregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'high_tidesans';
    src: url('fonts/hightide_sans-webfont.eot');
    src: url('fonts/hightide_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hightide_sans-webfont.woff') format('woff'),
         url('fonts/hightide_sans-webfont.ttf') format('truetype'),
         url('fonts/hightide_sans-webfont.svg#high_tidesans') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dinregular';
    src: url('fonts/din-regular_1-webfont.eot');
    src: url('fonts/din-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-regular_1-webfont.woff') format('woff'),
         url('fonts/din-regular_1-webfont.ttf') format('truetype'),
         url('fonts/din-regular_1-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
height:100%;
margin:0;
padding:0;
}


h1 {
    font-family: fairviewregular, sans-serif;
    font-size: 60px;
    color: black;
    line-height: 60px;
    font-weight: 100;
    margin: 0 auto;
    display: block;
    width : 180px;
    margin-top: 30px;
    padding: 0;
}

#youtuber {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0;
}

#you {
    color: #B10200;
    display: inline;
}

h1 a {
    color: black;
    text-decoration : none;

}

/*h1:hover {
     -webkit-transform: translate(-3px,-2px);
}*/

h2 { 
    font-size: 36px;
    width: 900px;
    font-family: high_tidesans, sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;

}

.arrow {
    z-index: 300;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -68px;
}

@media screen and (max-width: 1400px) {
    
    .arrow {
    position: absolute;
    bottom: 10px;
    left: 95%;
    }
    .arrow_img{
    width: 70px;
    }
    
}

h3 {
    font-family: high_tidesans, sans-serif;
    font-size: 27px;
    line-height: 60px;
    font-weight: 100;
    margin-left: 30px;
    position: relative;
    bottom : -300px;

}

p {
    font-family :dinregular, sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-left: 30px;
    width : 450px;
    position: relative;
    bottom : -330px;

}

nav ol {
    list-style-type: upper-roman;
    text-align: left;
    list-style-position:inside;
    font-family: high_tidesans, sans-serif;
    margin-top: 60px;

}

ol li {
    padding-left: 30px;

}

ol li a {
    font-family: high_tidesans, sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height : 60px;
    color: black;
    margin-left: 3px;
}

ol li:hover{
    color: white;
    background-color: #303030;
}

ol li:hover a {
    color: white;
}

#top-menu li.active a {
    color: #B10200;
    font-weight: bold;
}

#top-menu li.active:hover a {
    color: white;
    font-weight: bold;
}



#sidebar {
    width: 18%;
    display: block;
    z-index: 10;
    position: fixed;
    height: 100%;
    background-color: white;

}

.colonne_gauche {
    min-height: 100%;
    width: 50%;
    position: relative;
    display: block;
    float: left;
    color: black;
}

.colonne_droite {
    min-height: 100%;
    width: 50%;
    position: relative;
    display: block;
    margin-left: 50%;
    color: white;

}

#accueil {
    height : 100%;
    position:relative;
    background:#424242;
    width: 82%;
    margin-left: 18%;
    background-image: url("img/background_index3.jpg");
    background-size: cover;
    background-position: center center ;    

}

@-webkit-keyframes animatedBackground {
	0% { opacity: 0; }
    1% { opacity: 0.8;}
    5% { opacity: 0;}
    10% { opacity: 0.5;}
    15% { opacity: 0;}
    100% { opacity: 0;}
}


#accueil2 {
    height : 100%;
    position:absolute;
    width: 82%;
    margin-left: 18%;
    z-index: 100;
    top: 0;
    background-image: url("img/background_parasite_1.png");
    background-size: cover;
    background-position: center center ;
    opacity: 0;
    -webkit-animation: animatedBackground 3s linear infinite 1s;



}

#accueil3 {
    height : 100%;
    position:absolute;
    width: 82%;
    margin-left: 18%;
    z-index: 100;
    top: 0;
     opacity: 0;
    background-image: url("img/background_parasite_2.png");
    background-size: cover;
    background-position: center center ;  
     -webkit-animation: animatedBackground 2s linear infinite 2s;

}

#accueil4 {
    height : 100%;
    position:absolute;
    width: 82%;
    margin-left: 18%;
    z-index: 100;
    top: 0;
    opacity: 0;
    background-image: url("img/background_parasite_3.png");
    background-size: cover;
    background-position: center center ; 
     -webkit-animation: animatedBackground 1s infinite 3s;

}

#accueil5 {
    height : 100%;
    position:absolute;
    width: 82%;
    margin-left: 18%;
    z-index: 400;
    top: 0;
}



#style {
    height:100%;
    position:relative;
    background:#00F;
    width: 82%;
    margin-left: 18%;    
}

#style_gauche {
    background-image: url("img/bg_style_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#style_droite {
    background-image: url("img/bg_style_2.jpg");
    background-size: cover;
    background-position: left center ;
}
    

#universalite {
    height:100%;
    position:relative;
    background:#0F0;
    width: 82%;
    margin-left: 18%;
}

#universalite_gauche {
    background-image: url("img/bg_universalite_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#universalite_droite {
    background-image: url("img/bg_universalite_2.jpg");
    background-size: cover;
    background-position: left center ;
}

#realisation {
    height:100%;
    position:relative;
    background:#F00;
    width: 82%;
    margin-left: 18%;
}

#realisation_gauche {
    background-image: url("img/bg_realisation_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#realisation_droite {
    background-image: url("img/bg_realisation_2.jpg");
    background-size: cover;
    background-position: left center ;
}

#respect {
    height:100%;
    position:relative;
    background:#00F;
    width: 82%;
    margin-left: 18%;
}

#respect_gauche {
    background-image: url("img/bg_respect_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#respect_droite {
    background-image: url("img/bg_respect_2.jpg");
    background-size: cover;
    background-position: left center ;
}

#sujet {
    height:100%;
    position:relative;
    background:#0F0;
    width: 82%;
    margin-left: 18%;
}

#sujet_gauche {
    background-image: url("img/bg_sujet_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#sujet_droite {
    background-image: url("img/bg_sujet_2.jpg");
    background-size: cover;
    background-position: left center ;
}

#esthetique {
    height:100%;
    position:relative;
    background:#F00;
    width: 82%;
    margin-left: 18%;    
}

#esthetique_gauche {
    background-image: url("img/bg_esthetique_1.jpg");
    background-size: cover;
    background-position: right center ;
}

#esthetique_droite {
    background-image: url("img/bg_esthetique_2.jpg");
    background-size: cover;
    background-position: left center ;
}


#conclusion {
    height:100%;
    position:relative;
    background:#424242;
    width: 82%;
    margin-left: 18%;
    background-image: url("img/bg_conclusion.jpg");
    background-size: cover;
    background-position: center center ;
}
    


#txt_conclusion {
    font-size: 18px;
    width: 1000px;
    font-family: dinregular, sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    top: 40%;
}

#credits1 {
    font-size: 18px;
    width: 1000px;
    font-family: dinregular, sans-serif;
    font-weight: 100;
    color: white;
    text-align: left;
    line-height: 30px;
    position: absolute;
    bottom: 60px;
    opacity: 0.7;    
}


#credits2 {
    font-size: 18px;
    width: 1000px;
    font-family: dinregular, sans-serif;
    font-weight: 100;
    color: white;
    text-align: left;
    line-height: 30px;
    position: absolute;
    bottom: 30px; 
    opacity: 0.7;
}

#conclusion a {
    color: white;
    text-decoration: none;
}

#conclusion a:hover {
    opacity: 0.5;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    

